.vscode
.DS_Store
.vs/TGS.AlgoAssessment/v16/TestStore/0/003.testlog
.vs/TGS.AlgoAssessment/v16/TestStore/0/testlog.manifest
.vs/TGS.AlgoAssessment/v16/.suo
.vs/TGS.AlgoAssessment/v16/TestStore/0/004.testlog
